<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="NavClus"
            class="com.navclus.cloud.preference.preferences.NavClusPreferencePage"
            id="com.navclus.cloud.preference.preferences.NavClusPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.navclus.cloud.preference.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
