<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         name="UI Usage Monitoring Startup"
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.navclus.monitor.usage.UiUsageMonitorPlugin$UiUsageMonitorStartup">
      </startup>
   </extension>        
</plugin>
